@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

.btn {
  @apply text-white font-semibold py-2 px-4 rounded-lg transition duration-300 border-none;
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%) !important;
}

.btn:hover {
  filter: brightness(1.15);
  transform: scale(1.05);
}

.center-toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  color: white;
  padding: 12px 24px;
  border-radius: 12px;
  min-width: 250px;
  text-align: center;
  z-index: 9999;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
